<div >
  <img src=http://bit.ly/1eze8aE alt="Cat" style="border: dashed red">
</div>

<% if @name %>
  <h1> My name is <%= @name %>  </h1>
<% else %>
<form action='/named-cat' method='post'>
  <input type='text' name='name'/>
  <input type='submit' value='Submit'/>
</form>
<% end %>
